* {
  font-family: Verdana, Arial, sans-serif;
  background-color: black;
  text-align: center;
  image-orientation: center;
}


h1 {
    text-align: center;
    font-size: 50px;
    color: white;
    font-weight: normal;
}

a {
    text-align: center;
    font-size: 16px;
    font-weight: normal;
    color: aquamarine;
    text-decoration: underline;
}

.link {
    text-align: center;
}

.p2 {
  font-size: 21px;
  font-weight: normal;
  color: gray;
}
